In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Data Table.csv")
df.head()

,County,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Bakersfield,"8,371","8,720","9,228","9,341","9,863","10,493","11,199","11,397","10,624","9,261","9,399"
1,Channel Islands,"5,140","5,879","6,167","6,611","7,053","7,095","7,093","6,943","6,437","5,643","5,127"
2,Chico,"16,356","17,287","17,220","17,557","17,789","17,488","17,019","16,630","15,421","13,840","13,999"
3,Dominguez Hills,"14,670","14,687","14,635","14,731","15,179","15,741","17,027","17,763","16,916","15,530","14,299"
4,East Bay,"14,526","14,823","15,528","15,855","15,435","14,525","14,705","14,641","13,499","12,080","11,771"

In [5]:
col_list = df.columns
col_list[1:]

Index(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [6]:
def convert_to_int(string):
    clean_string = string.replace(',','')
    return int(clean_string)

for col in col_list[1:]:
    df[col] = df[col].apply(convert_to_int)

In [7]:
df.head()

,County,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Bakersfield,8371,8720,9228,9341,9863,10493,11199,11397,10624,9261,9399
1,Channel Islands,5140,5879,6167,6611,7053,7095,7093,6943,6437,5643,5127
2,Chico,16356,17287,17220,17557,17789,17488,17019,16630,15421,13840,13999
3,Dominguez Hills,14670,14687,14635,14731,15179,15741,17027,17763,16916,15530,14299
4,East Bay,14526,14823,15528,15855,15435,14525,14705,14641,13499,12080,11771

In [8]:
df.set_index('County',inplace=True)
df.head()

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
County,,,,,,,,,,,
Bakersfield,8371,8720,9228,9341,9863,10493,11199,11397,10624,9261,9399
Channel Islands,5140,5879,6167,6611,7053,7095,7093,6943,6437,5643,5127
Chico,16356,17287,17220,17557,17789,17488,17019,16630,15421,13840,13999
Dominguez Hills,14670,14687,14635,14731,15179,15741,17027,17763,16916,15530,14299
East Bay,14526,14823,15528,15855,15435,14525,14705,14641,13499,12080,11771

In [11]:
df.columns

Index(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [12]:
df.transpose()

County,Bakersfield,Channel Islands,Chico,Dominguez Hills,East Bay,Fresno,Fullerton,Humboldt,Long Beach,Los Angeles,...,San Diego,San Francisco,San Jose,San Luis Obispo,San Marcos,Sonoma,Stanislaus,CalStateTEACH,International Program,Grand Total
2013,8371,5140,16356,14670,14526,23060,38325,8293,35586,23258,...,32759,29905,31278,19703,11300,9120,8917,638,527,446530
2014,8720,5879,17287,14687,14823,23179,38128,8485,36809,24488,...,33483,29465,32713,20186,12154,9290,9045,794,509,460200
2015,9228,6167,17220,14635,15528,24136,38948,8790,37446,27680,...,34254,30256,32773,20944,12793,9408,9282,846,487,474571
2016,9341,6611,17557,14731,15855,24405,40235,8503,37776,27827,...,34688,29045,32154,21306,13144,9323,9762,1043,432,478638
2017,9863,7053,17789,15179,15435,25168,40439,8347,37065,28253,...,34828,29607,33409,22188,13893,9223,10003,1033,509,484297
2018,10493,7095,17488,15741,14525,24995,39774,7774,36846,27685,...,34881,29586,32828,21812,14511,9201,10214,990,412,481210
2019,11199,7093,17019,17027,14705,24139,39868,6983,38074,26361,...,35081,28880,33282,21242,14519,8649,10614,933,455,481929
2020,11397,6943,16630,17763,14641,25341,41408,6431,39359,26342,...,35578,27075,33025,22287,14643,7807,10741,961,26,485550
2021,10624,6437,15421,16916,13499,24946,40087,5739,39434,27029,...,35732,26620,33848,22028,14503,7182,10028,855,254,477466
2022,9261,5643,13840,15530,12080,23929,39729,5858,38270,26027,...,36637,25046,32432,21778,13469,6483,9738,846,403,457993
2023,9399,5127,13999,14299,11771,23832,41326,5976,39530,24673,...,37538,23700,32229,22279,13932,5865,9440,869,338,454640

In [13]:
df.columns

Index(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [19]:
df.to_csv('new_data',index=True)